# Pivote Table

In [5]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [6]:
dataset = pd.read_csv('iris.csv')

In [7]:
dataset.head(15)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa

In [23]:
#average of SepalLength for Irsi-setosa species 
dataset[dataset['Species']=='Iris-setosa'].SepalLengthCm.mean()

5.006

In [25]:
#average of SepalLength for Iris-versicolor  species 
dataset[dataset['Species']=='Iris-versicolor'].SepalLengthCm.mean()

5.936

In [28]:
# groupby function may help but it's limited 
dataset.groupby('Species')['SepalLengthCm'].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [46]:
#calculate all the data mean, std, min, max, median, Count and sum  of all the data for each species
# now this is a little hard , so we must use pivot_table
dataset.pivot_table(index='Species' ,values=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'],aggfunc=['mean','std','min','max','median','count','sum'])

                         mean                                          \
                PetalLengthCm PetalWidthCm SepalLengthCm SepalWidthCm
Species
Iris-setosa             1.464        0.244         5.006        3.418
Iris-versicolor         4.260        1.326         5.936        2.770
Iris-virginica          5.552        2.026         6.588        2.974

                          std                                          \
                PetalLengthCm PetalWidthCm SepalLengthCm SepalWidthCm
Species
Iris-setosa          0.173511     0.107210      0.352490     0.381024
Iris-versicolor      0.469911     0.197753      0.516171     0.313798
Iris-virginica       0.551895     0.274650      0.635880     0.322497

                          min               ...        median               \
                PetalLengthCm PetalWidthCm  ... SepalLengthCm SepalWidthCm
Species                                     ...
Iris-setosa               1.0          0.1  ...           5.0          3.4
Iris-versicolor           3.0          1.0  ...           5.9          2.8
Iris-virginica            4.5          1.4  ...           6.5          3.0

                        count                                          \
                PetalLengthCm PetalWidthCm SepalLengthCm SepalWidthCm
Species
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50

                          sum
                PetalLengthCm PetalWidthCm SepalLengthCm SepalWidthCm
Species
Iris-setosa              73.2         12.2         250.3        170.9
Iris-versicolor         213.0         66.3         296.8        138.5
Iris-virginica          277.6        101.3         329.4        148.7

[3 rows x 28 columns]

In [41]:
dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000